 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 805px;
}

.u-section-1 .u-form-1 {
  height: 251px;
  width: 350px;
  margin: 60px auto;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 10px 100px 10px 98px;
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
  }
}