 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 97px;
}

.u-section-1 .u-text-1 {
  font-size: 2rem;
  font-weight: 700;
  width: 398px;
  margin: 9px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 0.875rem;
  margin: 0 371px 9px 575px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-right: 271px;
    margin-left: 475px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-right: 161px;
    margin-left: 365px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 148px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 35px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 71px;
    margin-bottom: 35px;
    margin-left: 275px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 119px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 20px;
    margin-left: 0px;
    margin-right: -29px;
  }

  .u-section-1 .u-text-2 {
    margin-right: -24px;
    margin-bottom: 20px;
    margin-left: 170px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 51px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 13px auto;
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 465px;
}

.u-section-3 .u-group-1 {
  width: 400px;
  min-height: 250px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 60px auto 0 99px;
}

.u-section-3 .u-container-layout-1 {
  padding: 15px 30px 14px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 6px auto 0;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  font-size: 3rem;
  margin: 3px auto 0;
}

.u-section-3 .u-text-3 {
  font-size: 0.875rem;
  margin: 5px auto 0;
}

.u-section-3 .u-text-4 {
  font-size: 0.875rem;
  margin: 0 auto;
}

.u-section-3 .u-btn-1 {
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 9px auto 0;
  padding: 8px 33px;
}

.u-section-3 .u-group-2 {
  width: 400px;
  min-height: 250px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -250px auto 0 641px;
}

.u-section-3 .u-container-layout-2 {
  padding: 15px 30px 14px;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 6px auto 0;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  font-size: 3rem;
  margin: 3px auto 0;
}

.u-section-3 .u-text-7 {
  font-size: 0.875rem;
  margin: 5px auto 0;
}

.u-section-3 .u-text-8 {
  font-size: 0.875rem;
  margin: 0 auto;
}

.u-section-3 .u-btn-2 {
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 9px auto 0;
  padding: 8px 33px;
}

.u-section-3 .u-line-1 {
  transform-origin: right center 0px;
  width: 750px;
  margin: 60px auto 0;
}

.u-section-3 .u-text-9 {
  font-size: 0.875rem;
  width: 593px;
  margin: 12px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-3 .u-group-1 {
    margin-left: 50px;
    height: auto;
  }

  .u-section-3 .u-text-1 {
    width: 88px;
  }

  .u-section-3 .u-group-2 {
    margin-left: 491px;
    height: auto;
  }

  .u-section-3 .u-text-9 {
    width: auto;
    margin-top: 10px;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-group-1 {
    margin-top: 41px;
    margin-left: auto;
  }

  .u-section-3 .u-group-2 {
    margin-top: 57px;
    margin-left: auto;
  }

  .u-section-3 .u-line-1 {
    margin-top: 41px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-9 {
    margin-left: 64px;
    margin-right: 64px;
    margin-bottom: 27px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-group-1 {
    margin-top: 34px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-group-2 {
    margin-top: 34px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-line-1 {
    margin-top: 34px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-9 {
    margin: 12px 0 60px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-group-1 {
    margin-top: 48px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-4 {
    margin-left: 28px;
    margin-right: 28px;
  }

  .u-section-3 .u-group-2 {
    margin-top: 57px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-line-1 {
    margin-top: 40px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-9 {
    margin-bottom: 20px;
  }
}